<a href="https://colab.research.google.com/github/weidongshao/ml_playground/blob/master/ml_scratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Skeleton Code for colab with Google Drive workspace

Assume that your GDrive has a top level folder named "App". Put your data files under that folder.


If you want to display math equations in your notes
$$ a^2 + b^2 = c^2 $$

In [31]:
from google.colab import drive
drive.mount('/content/gdrive')

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

import numpy as np
import pandas as pd

data_file = 'training.tsv'

data = pd.read_csv('/content/gdrive/My Drive/App/' + data_file, sep="\t")

# data.head()

Mounted at /content/gdrive

   00002acbe042d69  2013-07-11   EmailOpen
0  00002acbe042d69  2013-07-11  FormSubmit
1  00002acbe042d69  2013-07-15   EmailOpen
2  00002acbe042d69  2013-07-17   EmailOpen
3  00002acbe042d69  2013-07-18   EmailOpen
4  00002acbe042d69  2013-07-25   EmailOpen